/* Font importing from Google font */
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');

/* Styling body */
body{
	position: relative;
	margin:0;		
	font-family: "Rufina", serif;	/* Define font */
	font-size:20px;
	line-height:1.5;
	background-image:url("../images/backgroung.png");	/* Background tile image */
	background-attachment: fixed;
	text-align: center;
}

/* Styling logo */
#logo{
	position: fixed;
	top: 8px;
	left: 20px;
	width: 48px;
	height: 46px;
	z-index: 1;
	background: url(../images/r.svg) no-repeat center ;
	transition: .5s;
}
#logo:hover{
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	border-radius: 5px;
}
/* Page heading animation */
#pagename{
	text-align: center;
	opacity:0;
	font-size: 30px;
	animation: fill 1s ease forwards;
	padding: 20px 0;
}

@keyframes fill{
	100%{opacity:1;
		font-size: 55px;}
}

/* Styling image container */
#rinat{
	position: fixed;
	right: 50%;
	transform: translateX(50%);
	top: 10vh;
	z-index: 1;
}
#rinat img:hover{
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	border-radius: 50%;
}
#rinat img{
	transition: .5s;
	width: calc(10vw + 100px);
	height: calc(10vw + 100px);
	border-radius: 50%;
}

/* Style navigation hamburger button */
.hamburger {
	z-index: 5;			/* Stay on top of menu background */
    position: fixed;	/* Position container where you want */
    top: 20px;
    right: 20px;
    outline: none;		/* Hide blue square around button on active state */
    cursor: pointer;	/* Pointer - hand */
    background-color: transparent;	/* Disable button colour */
    border: 0;	/* Disable button border */
    
}
/* Button hover change opacity of all content to 0.5 */
.hamburger:hover, .hamburger.is-active:hover {
    opacity: 0.5;
}
/* Lines on X states */
.is-active .hamburger-inner,
.is-active .hamburger-inner::before,
.is-active .hamburger-inner::after,
/* Lines on hover on = state same width 40px */
.hamburger:hover .hamburger-inner, 
.hamburger:hover .hamburger-inner::before {
    width: 40px;
}

/* Style beheviar of X on hover */
.is-active:hover .hamburger-inner{
    transform: rotate(-45deg);	/* Rotate -45deg on hover */
    transform-origin: 50% 50%;	/* Make stay in center */
}
/* Container for lines */
.hamburger>span {
    width: 40px;			/* Size box */
    height: 24px;
    display: inline-block;	/* Make sizes work */
}
/* Middle line */
.hamburger-inner {
    top: 50%;			/* Position middle vertical */
    margin-top: -2px;	/* Offset height of line 4px*/ 
}
/* Define content of pseudo elements */
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
}
/* Style all lines */
.hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
    display: block;				/* display on top each other */
    height: 4px;				/* height of each line */
    background-color: #000;		/* Colour lines */
    border-radius: 4px;			/* Make line sides round */
    position: absolute;			/* Position them properly */
    transition:  all 0.5s cubic-bezier(0.19, 1, 0.22, 1);	/* transition grow lines and spin */
    right: 0;					/* Right align lines */
}
/* Style top line */
.hamburger-inner::before{
    width: 20px;	/* Initial width 20px */
    top: -10px;		/* 10px higher of middle */
}
/* Middle line */
.hamburger-inner{
    width: 30px;	/* Initial line wigth */
}
/* Bottom line styling */
.hamburger-inner::after{
    width: 40px;	/* Line width */
    bottom: -10px;	/* Position under middle line */
}
/* Middle line in X position */
.is-active .hamburger-inner {
    transform: rotate(45deg);	/* Rotate 45deg when clicked */
}
/* Top line styling */
.is-active .hamburger-inner::before {
    top: 0;		/* Move to top */
    opacity: 0; /* Hide */
}
/* Bottom line styling */
.is-active .hamburger-inner::after {
    bottom: 0;					/* Move to bottom */
    transform: rotate(90deg); 	/* Rotate to \ position */
}
/* Styling navigation */
ul{
	position: fixed;		/* Stay on top of all content in fixed position*/
	display:none; 			/* Hide nav menu */
	list-style: none; 		/* Remove dots in front of li */
	padding:5vh 0 0 0;				/* Hide horizontal control */
	margin: 0 ;				/* Not necessary, make compact */
	width: 100%;			/* Occupy all document width */
	z-index: 3;				/* Stay on top of page content */
}
/* Style nav menu background */
ul::after{
	content: "";		/* Necessary define content */
	position: fixed;	/* Serve size to occupy all page */
	top: 0;				/* Stretch background to whole screen */
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(236, 236, 236);	/* background-color similar to tiles */
	z-index: -1;								/* Do not hide menu */
}
/* Style each menu line */
li{
	text-align:center;				/* Position in the middle */
	font-size: calc(2vh + 20px);	/* Responsive font size */
	font-weight: 777;				/* Bold font */
	text-transform:uppercase;
}
/* Style links */
a:link,  a:visited{
	color:#707070;				  /* Colours of font */
	text-decoration:none;			/* No underline */
}
/* Style active link state same as hover*/
a:hover,  a:active, .active {
	color:#000;						/* Font colour */
	border-bottom:2px solid red;	/* Style border */
}


/*Styling Home page handwriting text*/
#sticky{
	height:300vh;
}
#sticky svg{
	position:fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	top: calc(20% + 33vw);
	width: 80%;
	z-index: -1;
}



/* Footer styling */
footer{
	text-align: center; 	/* aling icons in the middle */
	padding-bottom: 5vh;
}
/* Styling footer social media icons */
footer div a {
	width:50px;
	height:50px;
	display:inline-block;
	margin:0 1vw;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
	
}

footer div a:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

footer div a svg {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	stroke:black;
	fill: #707070;

}

footer div a:nth-child(1) svg:hover {
	fill: #00aced;
}
footer div a:nth-child(2) svg:hover {
	fill: #007bb6;
}
footer div a:nth-child(3) svg:hover {
	fill: #dd4b39;
}
footer div a:nth-child(4) svg:hover {
	fill: #3b5998;
}
footer div a:nth-child(5) svg:hover {
	fill: #e4405f;
}
footer div a:nth-child(6) svg:hover {
	fill: #000;
}
footer div a:nth-child(7) svg:hover {
	fill: #ec8b5e;
}

/* Styling scroll down animated arrow */
.container {
	position: fixed;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 28px;
	height: 70px;
	cursor: pointer;
	
}


.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}


.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}


.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background-color: #707070;
	transition: background-color 1s ease;
}
.container:hover .chevron:before,
.container:hover .chevron:after {
	background-color: #000;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}


@keyframes move {
	25% {
	opacity: 1;

	}
	33% {
	opacity: 1;
	transform: translateY(30px);
	}
	67% {
	opacity: 1;
	transform: translateY(40px);
	}
	100% {
	opacity: 0;
	transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

/* Scroll top arrow */
.fa-arrow-up{
	width: 5vh;
	height: 5vh;
	position: fixed;
	bottom: 30px;
	right: -50px;
	cursor: pointer;
}
.fa-arrow-up path{
	fill:#707070;
	transition: fill 1s ease;

}
.fa-arrow-up:hover path{
	fill:#000;
}

/* Styling work page */
/* Flex container for all work sections */
.workwraper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* Outer conteiner for image and text */
.outer{
	flex-basis: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid #ccc;
	transition: flex-basis ease 1s;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	background-color: white;
	text-align: center;
	margin: 2vh 1vw;
}

/* Date display styling */
.date{
	position: absolute;
	bottom: 0;
	left: 0;
}
.date p{
	margin: 0;
	display: block;
	padding: 5px;
	background-color: #ccc;
}
/* Inner container for long image */
.inner{
	position: relative;
	width: 100%;
	height: 40vh;
	overflow: hidden;
	border: 1px solid #ccc;
}
/* Adding wedding image */
#wedding{
	background: url(../images/wedding360.jpg) no-repeat;
	background-size: 100%;
}
/* Adding fullerton image */
#fullerton{
	background: url(../images/fullerton360.jpg) no-repeat;
	background-size: 100%;
}
/* Adding darkshine image */
#darkshine{
	background: url(../images/darkshine360.jpg) no-repeat;
	background-size: 100%;
}
/* Adding developer path image */
#developer{
	background: url(../images/developer360.jpg) no-repeat;
	background-size: 100%;
}
/* Adding clickme image */
#clickme{
	background: url(../images/clickme.png) no-repeat;
	background-size: 100%;
}
/* Adding finkglas image */
#finkglas{
	background: url(../images/finkglas360.jpg) no-repeat;
	background-size: 100%;
}

/* Class adding on hover by JS */
.inner-img-up{
	animation: image-up 3s linear forwards;
}
.inner-img-down{
	animation: image-down 3s linear forwards;
}
/* Animate image scroll up */
@keyframes image-up {
	100% {
		background-position: 50% 100%;
	}
}
/* Animate image scroll down */
@keyframes image-down {
	100% {
		background-position: 50% 0%;
	}
}

/* Styling Gallery of about page */
.control h3 {
	cursor: pointer;
	width:100px;
	height:50px;
	display:inline-block;
	margin:0 1vw;
	border-radius: 10px;
	padding: 6px;
	box-sizing: border-box;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
	
}
.control h3:hover, .selected{
	/* box-shadow: 15px 15px 7px rgba(222, 222, 222, 0.85); */
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    color: orangered;
}

.control{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}
#wraper{
    overflow: hidden;
	line-height: 0;
	padding: 3vh 0;
}
#wraper img{
    width: 49vw;
    height: 49vw;
    object-fit: cover;
	transition: all ease 0.5s;
	cursor: pointer;
}
.imgHover{
    transform: scale(1.2);  
}
.doNotDisplay{
    display: none;
}
.all{
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr;
	-ms-grid-columns: 1fr 1fr 1fr;
    grid-template-areas: "travel1 cycling1 "
                        "cycling2 pets4 "
                        "pets5 travel8 "
                        "travel5 travel3 "
                        "travel7 pets6 "
						"travel4 pets1 "
						"pets3 travel6"
						"cycling3 pets2"
						"travel2 cycling4";
}
.travelWraper{
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr ;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-areas: "travel1 travel2 " 
						"travel4 travel5 " 
						"travel7 travel8 "
						"travel3 travel6";
}
.petsWraper{
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr ;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-areas: "pets1 pets2 " 
						"pets4 pets5 " 
						"pets3 pets6";
}
.cyclingWraper{
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr ;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-areas: "cycling1 cycling2 " 
						"cycling4 cycling3";
}
.travel, .pets, .cycling{
    transition: all ease 1s;
    overflow: hidden;
}



#travel1{grid-area: travel1;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}
#travel2{grid-area: travel2;
	-ms-grid-column: 3;
	-ms-grid-row: 5;
}
#travel3{grid-area: travel3;
	-ms-grid-column: 2;
	-ms-grid-row: 4;
}
#travel4{grid-area: travel4;
	-ms-grid-column: 1;
	-ms-grid-row: 6;
}
#travel5{grid-area: travel5;
	-ms-grid-column: 1;
	-ms-grid-row: 4;
}
#travel6{grid-area: travel6;
	-ms-grid-column: 3;
	-ms-grid-row: 2;
}
#travel7{grid-area: travel7;
	-ms-grid-column: 1;
	-ms-grid-row: 5;
}
#travel8{grid-area: travel8;
	-ms-grid-column: 2;
	-ms-grid-row: 3;
}


#pets1{grid-area: pets1;
	-ms-grid-column: 2;
	-ms-grid-row: 6;
}
#pets2{grid-area: pets2;
	-ms-grid-column: 3;
	-ms-grid-row: 4;
}
#pets3{grid-area: pets3;
	-ms-grid-column: 3;
	-ms-grid-row: 1;
}
#pets4{grid-area: pets4;
	-ms-grid-column: 2;
	-ms-grid-row: 2;
}
#pets5{grid-area: pets5;
	-ms-grid-column: 1;
	-ms-grid-row: 3;
}
#pets6{grid-area: pets6;
	-ms-grid-column: 2;
	-ms-grid-row: 5;
}


#cycling1{grid-area: cycling1;
	-ms-grid-column: 2;
	-ms-grid-row: 1;
}
#cycling2{grid-area: cycling2;
	-ms-grid-column: 1;
	-ms-grid-row: 2;
}
#cycling3{grid-area: cycling3;
	-ms-grid-column: 3;
	-ms-grid-row: 3;
}
#cycling4{grid-area: cycling4;
	-ms-grid-column: 3;
	-ms-grid-row: 6;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}
.modal-content {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    width: 90%;
    height: auto;
}
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Styling youtube video */
.youtube {
	display: inline-block;
    position: relative;
	height: 55.7vw;
	width: 99vw;
	cursor: pointer;
	margin: 3vh 0;
}
.youtube iframe, .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube img{
	width: 100%;
	height: 100%;
}
/* Styling main wrapper for form and map */
main{
	display: flex;	
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
/*Contact form styling*/
.container-form {
	display: inline-block;
	width:90%;
	height: 610px;
	border:1px solid #ccc;
	border-radius:15px;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
	padding:1% 1%;
	margin: 2vh 2vw;
	background-color:white;
	box-sizing: border-box;
	text-align: center;
}
.container-form:hover {
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
label:not(:nth-child(5))::after{
	content: " *";
	color: red;
}
textarea{
	height: 200px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: none;
	transition: box-shadow 1s ease;
}
input[type=text]:hover, select:hover, textarea:hover,
input[type=text]:focus, select:focus, textarea:focus{
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

input[type=submit] {
	background-color: rgba(32,33,36,0.28);
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 1s ease;
}

input[type=submit]:hover {
	background-color: gray;
	color:white;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}



/* Styling map */
.map {
	display: inline-block;
    position: relative;
	height: 50vh;
	width: 90%;
	cursor: pointer;
	margin: 2vh 2vw;
	border:1px solid #ccc;
	border-radius:15px;
	box-shadow: 2px 2px 5px rgba(32,33,36,0.28);
}
.map:hover{
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.map iframe{
	border-radius: 15px;
}

/* Styling for tablet and desktop versions */
@media only screen and (min-width: 360px){
	/* Styling youtube video */
	.youtube {
		height: 25.9vw;
		width: 46vw;
	}
	/* Styling gallery */
	#wraper img{
		width: 32vw;
		height: 32vw;
	}
	.all{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-areas: "travel1 cycling1 pets3"
							"cycling2 pets4 travel6"
							"pets5 travel8 cycling3"
							"travel5 travel3 pets2"
							"travel7 pets6 travel2"
							"travel4 pets1 cycling4";
	}
	.travelWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-areas: "travel1 travel2 travel3" "travel4 travel5 travel6" "travel7 . travel8";
	}
	.petsWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-areas: "pets1 pets2 pets3" "pets4 pets5 pets6";
	}
	.cyclingWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-areas: "cycling1 cycling2 cycling3" ". cycling4  .";
	}
	/* Styling logo */
	#logo{
		top: 10px;
		left: 20px;
		width: 198px;
		height: 46px;
		background: url(../images/logo.svg) no-repeat center;
	}
	/* Adding wedding image */
	#wedding{
		background: url(../images/wedding.jpg) no-repeat;
		background-size: 100%;
	}
	/* Adding fullerton image */
	#fullerton{
		background: url(../images/fullerton.jpg) no-repeat;
		background-size: 100%;
	}
	/* Adding darkshine image */
	#darkshine{
		background: url(../images/darkshine.jpg) no-repeat;
		background-size: 100%;
	}
	/* Adding developer path image */
	#developer{
		background: url(../images/developer.jpg) no-repeat;
		background-size: 100%;
	}
	/* Adding finkglas image */
	#finkglas{
		background: url(../images/finkglas.jpg) no-repeat;
		background-size: 100%;
	}
}



@media only screen and (min-width: 768px){
	
	/* Styling contact page form and map */
	.container-form, .map{
		width: 75%;
		transition: all 1s ease;
	}
	/* Styling youtube video */
	.youtube {
		height: 18vw;
		width: 32vw;
	}
	/* Styling gallery */
	#wraper img{
		width: 24vw;
		height: 24vw;
	}
	.all{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: "travel1 cycling1 pets3 cycling4"
							"cycling2 pets4 travel6 pets1"
							"pets5 travel8 cycling3 travel4"
							"travel5 travel3 pets2 travel2"
							". travel7 pets6 .";
	}
	.travelWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: "travel1 travel2 travel3 travel8" "travel4 travel5 travel6 travel7";
	}
	.petsWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: "pets1 pets2 pets3 pets6" ". pets4 pets5 .";
	}
	.cyclingWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: "cycling1 cycling2 cycling3 cycling4";
	}
	/* Styling image container */
	#rinat{
		transform: translateX(0);
		right: 0;
		top: 15vh;
	}
	#rinat img{
		width: 20vw;
		height: 20vw;
	}

	/*Styling Home page handwriting text*/
	#svg4540{
		position:fixed;
		top: 0;
		width: 80%;
	}
	#sticky svg{
		width: 60%;
		top: 50%;
	}
	/* Outer conteiner for image and text */
	.outer{
		flex-basis: 45%;
	}

}



@media only screen and (min-width: 1366px){
	/* Main container */
	main{
		flex-flow: row;	
	}
	/* Styling contact page form and map */
	.container-form, .map{
		width: 40%;
	}
	.map{
		height: 610px;
	}
	/* Styling gallery */
	#wraper img{
		width: 19vw;
		height: 19vw;
	}
	.all{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "travel1 cycling1 pets3 cycling4 pets6"
							"cycling2 pets4 travel6 pets1 travel7"
							"pets5 travel8 cycling3 travel4 travel2"
							". travel5 travel3 pets2 .";
	}
	.travelWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "travel1 travel2 travel3 travel8 travel7" ". travel4 travel5 travel6 .";
	}
	.petsWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "pets1 pets2 pets3 pets6 pets5" ". . pets4 . .";
	}
	.cyclingWraper{
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: "cycling1 cycling2 cycling3 cycling4";
	}
	/* Outer conteiner for image and text */
	.outer{
		flex-basis: 30%;
	}
	
}

